<%- include('../partials/user-header.ejs') %>

    <!-- <div class="container"> -->
        <div class="border mt-4" style="width: 512px; margin: auto;">
            <div class="bg-warning" style="height: 20px"></div>
            <h2 class="text-center my-4">Login</h2>
            <form action="/login" method="post">
                <div class="form-floating mb-3 mx-4">
                    <input name="username" type="text" class="form-control" id="floatingUsername" placeholder="Username" required>
                    <label for="floatingUsername">Username</label>
                </div>
                <div class="form-floating mb-3 mx-4">
                    <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                </div>
    
                <!-- Button -->
                <div class="text-center mb-3 mx-4">
                    <button type="submit" class="btn btn-warning fs-5">Login</button>
                </div>
                <div class="text-end">
                    <a class="text-secondary my-3 mx-4" href="/register">go to Register
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg>
                    </a>
                </div>
                <div class="bg-warning mt-3" style="height: 20px"></div>
            </form>
        </div>
        <!-- </div> -->

    <%- include('../partials/user-footer.ejs') %>