<%- include('../partials/user-header.ejs') %>

    <div class="container">
        <form action="/register" method="post">
            <h2 class="mt-4 mb-2 text-decoration-underline">Register</h2>
            <div class="form-floating mb-3">
                <input name="username" type="text" class="form-control" id="floatingInput" placeholder="Username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input name="email" type="email" class="form-control" id="floatingInput" placeholder="Email@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <a class="text-decoration-underline my-2 mx-2 text-secondary" href="/login">go to LOGIN</a>
            <button class="btn btn-primary my-2" type="submit">Regist</button>
        </form>
    </div>

    <%- include('../partials/user-footer.ejs') %>